:root {
    --ash-gray: #B3BFB8;
    --kombu-green: #3C493F;
    --magic-mint: #A0EEC0;
    --magic-mint-dark: #8AE9C1;
    --mantis: #86CD82;
    --forset-green: #72A276;
    --dim-grey: #666B6A;
    --neon: rgb(2, 212, 2);
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif !important;
}

.menu-container {
    color: var(--neon);
    background-color: black;
    border-right: solid 0.10rem var(--neon);
}

.icon {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.main-page {
    background-color: black;
    color: var(--neon);
}

.d-hidden {
    visibility: hidden;
}

.pixelated {
    box-shadow:   -2px 0 0 0 var(--neon),
    2px 0 0 0 var(--neon),
    0 -2px 0 0 var(--neon),
    0 2px 0 0 var(--neon);
}

.eye {
    height: 2rem;
    width: 2rem;
    margin-left: 5rem;
}

.eye-center {
    background-color: var(--neon);
    height: 0.5rem;
    width: 0.5rem;
}

.menu-item:hover {
    background-color: var(--neon);
    color: black;
}